.test
{
	border: red thin solid;
}
.navheight
{
	height: 3em;
}
.buttheight
{
	height: 2.7em;
}
.inputheight
{
	height: 2em;
}
.textbold
{
	font-weight: bold;
}
.textitalics
{
	font-style: italic;
}
.textwhite
{
	color: white;
}
.borderpads
{
	padding: 0.2em 1em;
	border-color: #97afc2;
	border-radius: 10px 10px 0px 0px;
}
.textsize
{
	font-size: .9em;
}
.infotextsize
{
	font-size: .8em;
}
.tabletextsize
{
	font-size: .7em;
}
::placeholder, ::-ms-input-placeholder
{
	font-size: .8em;
}
.infocolpads
{
	padding: 0;
	margin: 0;
/*	border: solid red;*/
}

/*-------------------------------------------------CARO CSS(CNV TAB)------------------------------------------------------------------------*/

.col-sm-10
{
	/*border: solid red;*/
	padding-right:0;
	margin: 0;
	margin-right: 0; 
}

#tumortype{
	/*border: solid red;*/
	padding-right: 30%;
}

#a{
/*	border: solid red;*/
	padding:1em;
}

.col-sm-3
{

	padding:0px;
	padding-left:105px;
}

.inp
{

	margin: 0px 0px;
	padding: 2px;
}

#origicell{
/*	border: solid green;*/
	padding-left: 190px;
}











